build/

patches/

# Build artifacts
build/
*.tar.xz
*.tar.bz2
*.o
*.ko
*.cmd
.tmp_versions/
Module.symvers
modules.order

single.gz

soal_2/floppy.img
soal_2/*.bin
soal_2/bochslog.txt
soal_2/*.log
soal_2/__MACOSX/
soal_2/template.zip
soal_2/template/
soal_2/build
